@import "../Varible";
.countrydata {
  display: flex;
  width: 49%;

  flex-direction: column;
  height: 50%;
  border: 2px solid $text--color-primary;
  padding: 0.5rem;
  &__item {
    border: 2px solid $text--color-primary;
    padding: 0.5rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    &--text {
      font-size: 2rem;
      color: $text--color-primary;
    }
    &:hover {
      color: $color--primary;
      background-color: $text--color-primary;
      & * {
        color: $color--primary;
        fill: $color--primary;
      }
    }
    &_svg {
      height: 50px;
      width: 50px;
      path {
        fill: $text--color-primary;
      }
    }
  }
  &__heading {
    font-size: 4rem;
    color: $text--color-primary;
  }
  &__footer {
    color: $text--color-primary;
  }
}
