@import "../Varible";
.datashow {
  display: flex;
  width: 49%;
  position: relative;
  flex-direction: column;
  height: 100%;
  border: 2px solid $text--color-primary;
  margin-bottom: 1rem;
  @media (max-width: 600px) {
    width: 80%;
    margin: 2rem;
  }
  &__item {
    border-top: 2px solid $text--color-primary;
    padding: 1rem 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    &--text {
      font-size: 2rem;
      color: $text--color-primary;
      font-family: "Della Respira", serif;
    }
    &:hover {
      color: $color--primary;
      background-color: $text--color-primary;
      & * {
        color: $color--primary;
        fill: $color--primary;
      }
    }
    &_svg {
      height: 40px;
      width: 40px;
      path {
        fill: $text--color-primary;
      }
    }
  }
  &__heading {
    font-family: "Exo", sans-serif;
    padding: 0.8rem;
    font-size: 4rem;
    color: $text--color-primary;
  }
  &__footer {
    color: $text--color-primary;
  }
}
.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;

  justify-content: center;
  align-items: center;
  background-color: $color--primary;
  svg {
    height: 100px;
    width: 100px;
  }
}
