@import "../Varible";
.datashow {
  display: flex;
  width: 49%;
  position: relative;
  flex-direction: column;
  height: 100%;
  border: 2px solid $text--color-primary;
  margin-bottom: 1rem;
  @media (max-width: 600px) {
    width: 80%;
    margin: 2rem;
  }
}
