@import "../Varible";
.dailycases {
  display: flex;
  width: 49%;
  margin: 1rem;
  flex-direction: column;
  height: 50vh;
  border: 2px solid $color--Tertiary;
  &__item {
    border: 2px solid $color--Tertiary;
    margin: 1rem;
    &_svg {
      height: 50px;
      width: 50px;
      path {
        fill: $text--color-primary;
      }
    }
  }
}
